
* {
    margin: 0;
    padding: 0;

}

.body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style-type: none;
    display: flex;
    gap: 10px;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: #f1f1f1;
}

.carousel-section {
width: 100%;
overflow: hidden;
}

.carousel-container {
display: flex;
transition: transform 0.5s ease-in-out;
}

.carousel-slide {
display: flex;
}

.card {
min-width: 300px; /* Largura mínima dos cards */
padding: 20px;
border: 1px solid #ccc;
margin: 10px;
text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.card {
    width: 300px;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h2 {
    font-size: 20px;
    margin-top: 10px;
}

.card p {
    font-size: 16px;
    margin-top: 10px;
}

.card button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.card button:hover {
    background-color: #444;
}

.card button:active {
    background-color: #555;
}

.card button:focus {
    outline: none;
}

.card button:disabled {
    background-color: #999;
    cursor: not-allowed;
}

.card button:disabled:hover {
    background-color: #999;
}

.card button:disabled:active {
    background-color: #999;
}

.card button:disabled:focus {
    outline: none;
}

.card button:disabled:active {
    background-color: #999;
}


